@model IEnumerable<Redmine.Core.Domain.Project>
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-unstyled spaced2">
                                    <li>
                                        <i class="ace-icon fa fa-circle green"></i>
                                        <a href="#">Unordered List Item</a>

                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-circle green"></i>
                                        <a href="#">Unordered List Item</a>
                                    </li>

                                    <li>
                                        <i class="ace-icon fa fa-circle green"></i>
                                        <a href="#">Unordered List Item</a>
                                        <ul class="list-unstyled" style="margin-left: 15px">
                                            <li>
                                                <i class="ace-icon fa fa-caret-right blue"></i>
                                                <a href="#">Unordered List Item</a>
                                            </li>

                                            <li>
                                                <i class="ace-icon fa fa-caret-right blue"></i>
                                                <a href="#">Unordered List Item</a>
                                            </li>

                                            <li>
                                                <i class="ace-icon fa fa-caret-right blue"></i>
                                                <a href="#">Unordered List Item</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col -->
    </div>
